.uno {
	width: 600px;
	border: 1px solid black;
}

.dos {
	width: 25%;
	height: 100px;
	float: left;
	background-color: yellow;
}

.tres {
	width: 25%;
	height: 100px;
	float: left;
	background-color: #00BFFF;
}

.cuatro {
	width: 25%;
	height: 100px;
	float: left;
	background-color: pink;
}

.clearfix:before, .clearfix:after {
   content: " ";
   display: table;
}

.clearfix:after {
   clear: both;
}